VITE_BEATS_SUPABASE_URL=""
VITE_BEATS_SUPABASE_PUBLISHABLE_KEY=""
VITE_BEATS_STORAGE_BUCKET="void-supply-media"

VITE_STRIPE_CHECKOUT_URL=""
VITE_CASHAPP_URL=""
VITE_PAYPAL_URL=""
VITE_APPLE_PAY_URL=""
VITE_GOOGLE_PAY_URL=""
VITE_BANK_TRANSFER_URL=""
